@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
    /*Blue Colors*/
    --blue-400: #4ccaf0;
    --blue-500: #4896ef;
    --blue-600: #4463ee;

    /*Red Colors*/
    --red-400: #f9626c;
    --red-500: #f72634;
    --red-600: #d90816;

    /*Orange Color*/
    --orange-400: #ff9e00;
    --orange-500: #ff8500;
    --orange-600: #ff6d00;

    /*Yellow Color*/
    --yellow-400: #ffee32;
    --yellow-500: #ffd500;
    --yellow-600: #fdc500;

    /*Green Color*/
    --green-400: #9cf945;
    --green-500: #80c423;
    --grenn-600: #1f6924;

    /*Purple Color*/
    --purple-400: #c86bfa;
    --purple-500: #5c0099;
    --purple-600: #3d0066;

    /*Black*/
    --black-400: #a3a3a3;
    --black-500: #575757;
    --black-600: #292929;

    /*White Color*/
    --white-400: #f5f5f5;
    --white-500: #e0e0e0;
    --white-600: #b8b8b8;
}

/* 
    To use the varibles use " var(name of variable) " 
*/

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    height: 100vh;
    background-attachment: fixed;
    color: var(--white-400);
}

body.blue {
    background-color: var(--blue-600);
    background-image: linear-gradient(160deg, var(--blue-600) 0%, var(--blue-400) 100%);
}

body.red {
    background-color: var(--red-600);
    background-image: linear-gradient(147deg, var(--red-600) 0%, var(--red-400) 74%);
}

body.purple {
    background-color: var(--purple-600);
    background-image: linear-gradient(43deg, var(--purple-600) 0%, var(--purple-500) 46%, var(--purple-400) 100%);
}

body.green {
    background-color: var(--grenn-600);
    background-image: linear-gradient(132deg, var(--grenn-600) 0%, var(--green-400) 100%);
}

body.black {
    background-color: var(--black-600);
    background-image: linear-gradient(62deg, var(--black-600) 0%, var(--black-400) 100%);
}

select {
    height: 2rem; 
    border-radius: 4px;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6rem;
    line-height: .5;
}

.title span {
    color: var(--yellow-500);
}

.content-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.content-config {
    width: 600px;
}

a:visited{
    color: var(--yellow-400);
}

.content {
    width: 94%;
    margin: 3rem auto;
}

.config {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.red {
    flex: 1 0 24rem;
    background-color: var(--red-500);
    color: var(--white-400);
}
.green {
    flex: 1 0 24rem;
    background-color: var(--green-500);
    color: var(--white-400);
}

.blue {
    flex: 1 0 24rem;
    background-color: var(--blue-500);
    color: var(--white-400);
}

.black {
    flex: 1 0 24rem;
    color: var(--white-400);
}

.config.blue{
    background-color: var(--blue-600);
}

.config.red{
    background-color: var(--red-600);
}

.config.purple{
    background-color: var(--purple-600);
}

.config.green{
    background-color: var(--grenn-600);
}

.config.black{
    background-color: var(--black-600);
}

.select-api {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2px 8px;
}


.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.colors .actions {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid var(--white-400);
}

.colors .actions .action-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.colors .actions .action-rigth {
    display: flex;
    align-items: center;
    gap: 6px;
}

.colors article { /* .color-container */
    flex: 1 0 24rem;
    border: 1px solid var(--white-400);
}

.colors .color-text {
    display: block;
    align-items: center;
    padding: 8px;
    font-size: 35px;
    font-weight: 900;
    font-family: monospace;
    text-transform: uppercase;
}

@keyframes red {
    from {background-color: var(--white-400);}
    to {background-color: var(--red-500);}
}

@keyframes green {
    from {background-color: var(--white-400);}
    to {background-color: var(--grenn-500);}
}

@keyframes blue {
    from {background-color: var(--white-400);}
    to {background-color: var(--blue-500);}
}

.log-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--black-600);
    padding: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.log-header-buttton {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.log-header-buttton .item {
    background-color: transparent;
    border: none;
    color: var(--white-400);
    font-size: 0.875rem; /* 14px */
    text-transform: uppercase;
    cursor: pointer;
}

.log-header-buttton .item:hover {
    text-decoration: underline;
}

.log-header-buttton label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logs {
    border-radius: 4px;
    background-color: var(--black-600);
    color: var(--white-400);
    font: 1.3rem Inconsolata, monospace;
    width: 100%;
}

.log-settings {
    display: block;
    text-align: end;
    margin: 0 1rem;
}

.log-settings .log-theme {
    list-style: none;
}

.log-settings .item{
    text-transform: uppercase;
}

.log-settings .log-theme li {   
    width: 24px;
    height: 24px;
    padding: 5px;
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    border: 1px solid var(--black-400);
}

.log-settings LI.black {
    background-color: var(--black-500);
    transition: all .3s ease;
}
.log-settings LI.black:hover {
    transform: translateY(-4px);
}

.log-settings LI.purple {
    background-color: var(--purple-500);
    transition: all .3s ease;
}
.log-settings LI.purple:hover {
    transform: translateY(-4px);
}

.log-settings LI.blue {
    background-color: var(--blue-400);
    transition: all .3s ease;
}
.log-settings LI.blue:hover {
    transform: translateY(-4px);
}

.log-settings LI.green {
    background-color: var(--green-400);
    transition: all .3s ease;
}
.log-settings LI.green:hover {
    transform: translateY(-4px);
}

.log-settings LI.red {
    background-color: var(--red-500);
    transition: all .3s ease;
}
.log-settings LI.red:hover {
    transform: translateY(-4px);
}

::selection {
    background: var(--orange-400);
    text-shadow: none;
}

.logs H2 {
    margin: 0;
    padding: 0;
    display: inline;
}

.logs UL#log-id {
    height: 335px;
    overflow-y: auto;
    padding: 8px;
}

.logs UL#log-id LI {
    list-style: none;
    padding: 0.2rem;
}

.logs UL#log-id LI.error {
    color: red;
}

.logs .close {
    cursor: pointer;
}

.explanation {
    font-size: 1rem;
    padding: 8px;
    background-color: var(--black-600);
}

@media screen and (max-width: 660px) {

   .config {
       width: 100%;
   }

   .content-config {
        width: 100%;
   }

   .colors {
       width: 100%;
       display: block;
   }

   .colors div {
       width: auto;
   }

   .title {
    font-size: 4rem !important;
}
}

@media screen and (max-width: 1300px) {
    .title {
        position: static;
        font-size: 6rem;
        line-height: 1.5;
    }

    .content-header {
        flex-direction: column;
    }
}

@media screen and (min-width: 1800px) {
    .logs UL#log-id {
        height: 560px;
    }
}

footer {
    margin: 2rem auto 0 auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--yellow-400);
}

.footer-link:hover {
    text-decoration: underline;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.social {
    display: flex;
    gap: 1rem;
}

.social a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

/* Scrollbar Styling*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--black-500);
}

::-webkit-scrollbar-thumb {
    background-color: var(--yellow-600);
}