@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* designing the body of homepage */

body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body.blue {
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

body.red {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

body.purple {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body.green {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

body.black {
    background-color: #000000;
    background-image: linear-gradient(62deg, #615a5a 0%, #a28db6 100%);
}

select {
    height: 25px;
    border-radius: 4px;
}


a:visited{
    color: #ebebeb;
}

/* Designing the header and navigation menu */

header {
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #000;
    color: #FFF;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem 0 5rem;
}

.config {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    margin: 0.5rem;
    border-radius: 10px;
}

.red {
    background-color: #f43f3f;
    color: #fff;
}
.green {
    background-color: #4fff4f;
    color: #000;
}

.blue {
    background-color: #8EC5FC;
    color: #000;
}

.black {
    color: #FFF;
}

.config.blue{
    background-color: #80D0C7;
}

.config.red{
    background-color: #FF2525;
}

.config.purple{
    background-color: #FFCC70;
}

.config.green{
    background-color: #16A085;
}

.config.black{
    background-color: #a28db6;
}


.colors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colors .actions {
    font-size: 20px;
}

.colors div {
    margin: 10px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.colors .color-text {
    font-size: 35px;
    font-weight: 900;
    font-family: monospace;
    text-transform: uppercase;
}

/* Animations */

@keyframes red {
    from {background-color: #f7f6f6; }
    to {background-color: #f43f3f; }
}

@keyframes green {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #4fff4f; color: black;}
}

@keyframes blue {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #5c5ce6; color: white;}
}

.log-header {
    display: flex;
    justify-content: space-between;
}

.logs {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    width: 100%;
    border: 10px solid orange;
}

.logs.green {
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
}

.logs.purple {
    background-image: radial-gradient(
        rgb(150 0 117 / 75%), black 120%
    )
}

.logs.red {
    background-image: radial-gradient( #f00, black 120% );
}

.logs.blue {
    background-image: radial-gradient(
        #00c2ff, black 120%
    )
}

.logs.black {
    background-image: radial-gradient(
        #000, black 120%
    )
}

.log-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.log-settings .log-theme {
    display: flex;
    list-style: none;
    padding-left: 2rem;
}

.log-settings .log-theme LI {   
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 9px;
    cursor: pointer;
}

.log-settings LI.black {
    background-color: #444242;
}
.log-settings LI.purple {
    background-color: #bd24bd;
}
.log-settings LI.blue {
    background-color: #6464ee;
}
.log-settings LI.green {
    background-color: #13b313;
}

.log-settings LI.red {
    background-color: #f94747;
}

::selection {
    background: #ff6600;
    text-shadow: none;
}

.logs H2 {
    margin: 0;
    padding: 0;
    display: inline;
}

.logs UL#log-id {
    height: 335px;
    overflow-y: auto;
}

.logs UL#log-id LI {
    list-style: none;
    padding: 0.2rem;
}

.logs UL#log-id LI.error {
    color: red;
}

.logs .close {
    cursor: pointer;
}

.explanation {
    font-size: 18px;
    width: 650px;
    padding: 0.5rem;
}

/* Responsive Designing for smaller display sizes */

@media screen and (max-width: 660px) {
   .content {
        margin: 1.5rem
   }

   .config {
       width: 100%;
   }

   .colors {
       width: 100%;
       display: block;
   }

   .colors div {
       width: auto;
   }

   .explanation {
        width: 300px;
    }
}

@media screen and (min-width: 1800px) {
    .logs UL#log-id {
        height: 560px;
    }
}

/* Designing the footer */

footer {
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1rem;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 57px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .sidenav a.item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    transition: 0.3s;
  }

  .sidenav a.item input {
    margin-top: 8px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #818181;
  }

 .sidenav.active {
    width: 250px;
 }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.social {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.4rem;
}

.social a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}

