@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: 0.5s;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    height: 100vh;
}
body.blue {
    background: rgb(9,57,121);
    background: linear-gradient(90deg, rgba(9,57,121,1) 25%, rgba(44,164,188,1) 67%);
}

body.red {
    background: rgb(171,49,49);
background: linear-gradient(90deg, rgb(172, 20, 20) 0%, rgb(161, 136, 46) 100%);
}

body.purple {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body.green {
    background: rgb(60,126,47);
background: linear-gradient(90deg, rgba(60,126,47,1) 58%, rgba(44,188,73,1) 100%);
}

body.black {
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}

select {
    height: 25px;
    border-radius: 40px;
    border: 2px solid white;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
}

a:visited{
    color: #ebebeb;
}

header {
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #000;
    color: #FFF;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 5rem 0 5rem;
}

.config {
    border: 3px solid white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    font-size: 20px;
    font-weight: 500;
    margin: 0.5rem;
    border-radius: 10px;
}

.red {
    background-color: rgb(132, 0, 0);
    color: #fff;
}
.green {
    background-color: rgb(0, 128, 0);
    color: #000;
}

.blue {
    background-color: rgb(0, 0, 170);
    color: #000;
}

.black {
    color: #FFF;
}

.config.blue{
    background-color: rgb(143, 227, 242);
}

.config.red{
    background-color: #e12b2b;
}

.config.purple{
    background-color: #c640b8;
}

.config.green{
    background-color: #77bd7b;
}

.config.black{
    background-color: #414141;
}


.colors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actions{
    display: flex;
    justify-content: space-evenly;
}
.colors .actions {
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
}


#red-delays-id{
    display: flex;
    padding-left:10px;
    margin-top: 2px;
    font-weight: bold;
}

#green-delays-id{
    display: flex;
    padding-left:10px;
    margin-top: 2px;
    font-weight: bold;
}

#blue-delays-id{
    display: flex;
    padding-left:10px;
    margin-top: 2px;
    font-weight: bold;
}

.colors div {
    margin: 20px;
    border: 3px solid white;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.colors .color-text {
    font-size: 23px;
    font-weight:bold;
    font-family: 'Poppins';
    text-transform: uppercase;
}

@keyframes red {
    from {background-color: #f7f6f6; }
    to {background-color: #f43f3f; }
}

@keyframes green {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #4fff4f; color: black;}
}

@keyframes blue {
    from {background-color: #f7f6f6; color: black;}
    to {background-color: #5c5ce6; color: white;}
}

.log-header {
    display: flex;
    justify-content: space-between;
}

.logs {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px black;
    width: 100%;
    border: 3px solid white;
}

.logs.green {
    background: rgb(0,77,7);
background: radial-gradient(circle, rgba(0,77,7,1) 58%, rgba(44,188,62,1) 100%);
}

.logs.purple {
    background: rgb(106,34,92);
background: radial-gradient(circle, rgba(106,34,92,1) 54%, rgba(156,44,188,1) 100%);
}

.logs.red {
    background: rgb(84, 34, 19);
background: radial-gradient(circle, rgb(214, 5, 5) 0%, rgb(60, 34, 21) 100%);
}

.logs.blue {
    background: rgb(15,38,71);
background: radial-gradient(circle, rgba(15,38,71,1) 55%, rgba(9,57,121,1) 100%);
}

.logs.black {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 58%, rgba(115,115,115,1) 100%);
}

.log-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.log-settings .log-theme {
    display: flex;
    list-style: none;
    padding-left: 2rem;
}

.log-settings .log-theme LI {   
    width: 10px;
    height: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 9px;
    cursor: pointer;
}

.log-settings LI.black {
    background-color: #444242;
}
.log-settings LI.purple {
    background-color: #bd24bd;
}
.log-settings LI.blue {
    background-color: #6464ee;
}
.log-settings LI.green {
    background-color: #13b313;
}

.log-settings LI.red {
    background-color: #f94747;
}

::selection {
    background: #ff6600;
    text-shadow: none;
}

.logs H2 {
    margin: 0;
    padding: 0;
    display: inline;
}

.logs UL#log-id {
    height: 335px;
    overflow-y: auto;
}

.logs UL#log-id LI {
    list-style: none;
    padding: 0.2rem;
}

.logs UL#log-id LI.error {
    color: red;
}

.logs .close {
    cursor: pointer;
}

.explanation {
    font-size: 18px;
    width: 650px;
    padding: 0.5rem;
}

@media screen and (max-width: 660px) {
   .content {
        margin: 1.5rem
   }

   .config {
       width: 100%;
   }

   .colors {
       width: 100%;
       display: block;
   }

   .colors div {
       width: auto;
   }

   .explanation {
        width: 300px;
    }
}

@media screen and (min-width: 1800px) {
    .logs UL#log-id {
        height: 560px;
    }
}

footer {
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 57px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  .sidenav a.item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: flex;
    transition: 0.3s;
  }

  .sidenav a.item input {
    margin-top: 8px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #818181;
  }

 .sidenav.active {
    width: 250px;
 }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.social {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.4rem;
}

.social a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}



::-webkit-scrollbar-track {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar {
    width: 23px;
  }

  .logs ::-webkit-scrollbar-track {
    border-radius: 40px;
  }

  .logs ::-webkit-scrollbar {
    width: 18px;
  }
